<header class="header">
    <div class="info">
        <div class="info1">
            <h3>Dashboard</h3> 
            <a href="">
                <img src="../../../assets/Header/Refresh.png" alt="">
            </a>          
        </div>
        <div class="info2">
            <select name="select">
                <option value="1">Financeiro</option>
                <option value="2">RH</option>
                <option value="3">Vendas</option>
                <option value="4">Compras</option>
                <option value="5">Produção</option>
            </select>
        </div>
    </div>

    <div class="user">
        <a href="">
            <img class="icon" src="../../../assets/Header/help.png" alt="">
        </a>
        <a href="">
            <img class="icon" src="../../../assets/Header/notifications.png" alt="">
        </a>
        <a href="">
            <img class="icon" id="userPhoto" src="../../../assets/Header/Eu.jpg" alt="">
        </a>
    </div>
</header>
