<nav class="navbar">
    <a href="" class="logo">
        <img src="../../../assets/NavBar/logo.png" alt="">
    </a>
    <div class="navOption">
        <a href="">
            <img class="icon" src="../../../assets/NavBar/icon-dashboard.png" alt="">
        </a>
        <a href="">
            <img class="icon" src="../../../assets/NavBar/icon-veloc.png" alt="">
        </a>
        <a href="">
            <img class="icon" src="../../../assets/NavBar/icon-foguete.png" alt="">
        </a>
        <a href="">
            <img class="icon" src="../../../assets/NavBar/icon-paper.png" alt="">
        </a>
        <a href="">
            <img class="icon" src="../../../assets/NavBar/icon-objetivo.png" alt="">
        </a>
    </div>

    <a href="" class="config">
        <img class="icon" src="../../../assets/NavBar/icon-config.png" alt="">
    </a>

</nav>